<%= render "shared/second_header"%>
<div class="main">
<%= form_with model: @user, url: user_path, class: 'registration-main', method: :put do |f|%>
  
    <p class="user_title">ユーザー情報変更</p>

    <div id="comments_error">
      <%= render partial: 'shared/error_messages', locals: {model: @user}%>
    </div>

    <div class="form_group">
      <div class="nickname_form">
        <label class="form_text">ニックネーム(10文字以内)</label>
      </div>
      <%= f.text_area :nickname, class:"input_box", rows: 1, maxlength: 10, autofocus: true %>
    </div>
    <div class="form_group">
      <div>
        <label class="form_text">メールアドレス</label>
      </div>
      <%= f.email_field :email, class:"input_box" %>
    </div>
    <div class="form_group">
      <div class="password_form">
        <label class="form_text">パスワード</label>
      </div>
      <%= f.password_field :password, class:"input_box"%>
    </div>
    <div class="submit_btn">
      <%= f.submit "変更", class: "user_btn"%>
    </div>
  <% end %>
</div>
<%= render "shared/footer"%>