<header class="header">
  <div class="header_content">
    <%= link_to image_tag("home_page_material.png", class: "header_image")%>
    <div class="title">
      <p class="title_name">沖縄フォーラム</p>
    </div>
    <div class="access_btn">
      <ul class= "user_info">
        <% if user_signed_in? %>
        <li><%= link_to "#{current_user.nickname}さん", edit_user_path(current_user.id), class: "user_nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "user_logout"%></li>
        <% else %>
        <li><%= link_to '新規登録', new_user_registration_path, class: "user_registration"%></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: "user_signin"%></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>