<h1>ルーム情報</h1>
<%= @room.name%>
<p><%= current_user.nickname%></p>
<div id='messages'>
  <% @messages.each do |message|%>
    <% if message.room.id == @room.id%>
      <p><%= message.content %></p>
    <% end %>
  <% end %>
</div>

<%= form_with model: @message, url: post_room_messages_path(@post,@room), method: :post, local: true do |f| %>
  <%= f.text_field :content, class: "room_message" %>
  <%= f.submit "送信", class: "room_message_send"%>
<% end %>

<%= form_with model: @memo, url: new_post_room_memo_path(@post,@room), method: :get, local: true do |f| %>
  <%= f.submit "メモを開く", class: "memo_open", id:"memo_open"%>
<% end %>

  <script>
  const immediate = (e) => {
    window.open('http://localhost:3000/posts/1/rooms/1/memos/new?commit=%E3%83%A1%E3%83%A2%E3%82%92%E9%96%8B%E3%81%8F', null, 'width=600,height=500,toolbar=yes,menubar=yes,scrollbars=yes');
    e.preventDefault();
};

document.getElementById('memo_open').addEventListener('click', immediate);

  </script>
