<%= render "shared/second_header"%>
<div class="main">
  <div class="show_post_main">
  <div class="show_post_table">
    <div class="show_post_name">
      <p class="post-name"><%= @post.name %></p>
    </div>
    <div class="show_post_content">
      <%= @post.content%>
    </div>
  </div>
  </div>

<% if @post.room.present? %>
  <div class="room_link">
    <%= link_to 'チャットルームへ入る', post_rooms_path(@post)%>
  </div>
<% elsif current_user.id == @post.user_id %>
  <div class= "room_link">
    <%= link_to 'チャットルームを作成', new_post_room_path(@post)%>
  </div>
<% end %>
</div>
<%= render "shared/footer"%>

