<%= render "shared/second_header"%>
<div class="show_post_main">
  <div class="show_post_table">
    <div class="show_post_name">
      <%= @post.name %>
    </div>
    <div class="show_post_content">
      <%= @post.content%>
    </div>
  </div>
</div>

<% if @post.room.present? %>
  <div class="room_link">
    <%= link_to 'チャットルームへ入る', post_rooms_path(@post)%>
  </div>
<% else %>
  <div class= "room_link">
    <%= link_to 'チャットルームを作成', new_post_room_path(@post)%>
  </div>
<% end %>

